<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title>Breaking names badly</title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />
  </head>
  <body>

    <h1>BREAKING NAMES BADLY</h1>
    <header class="clearfix">
      <% if @user %>
          <p id="picture" style="background-image: url(https://graph.facebook.com/<%= @user['id'] %>/picture?type=normal)"></p>
          <div>
            <h1>Welcome, <strong><%= @user['name'] %></strong></h1>
            <p class="tagline">
              This is your app
              <a href="<%= @app['@app'] %>"><%= @app['name'] %></a>
            </p>
            <div id="share-app">
              <p>Share your app:</p>
              <ul>
                <li>
                  <a href="#" class="facebook-button" id="postToWall" data-url="<%= url %>">
                    <span class="plus">Post to Wall</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="facebook-button speech-bubble" id="sendToFriends" data-url="<%= url %>">
                    <span class="speech-bubble">Send Message</span>
                  </a>
                </li>
                <li>
                  <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
                    <span class="apprequests">Send Requests</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
      <% else %>
        <div>
          <h1>Arguarde...</h1>
            <script>
              window.top.location = '/auth/facebook';
            </script>
        </div>

      <% end %>
    </header>

    <% if @user %>
      <section class="user_info">
        <img src="<%= "https://graph.facebook.com/#{@user['id']}/picture?type=large" %>" />
        <p><%= @user['name'] %></p>
      </section>

      <br />

      <form action='make_me_bad' method='post'>
        <p>Choose your background:</p>
        <% @backgrounds.each do |bg| %>
          <img src="<%= "/images/backgrounds/#{bg}" %>" />
          <input type="radio" name="background" value="<%= bg %>">
          <br />
        <% end %>

        <input type="submit" value="Make me bad!">
      </form>

    <% end %>
  </body>
</html>
